<!DOCTYPE html>
<html lang="en">
{% extends "base/base.html" %}

{% block title %} Home {% endblock title %}
<!-- Page Specific CSS goes HERE  -->
{% block stylesheets %}
  <!-- CSS Files -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/assets/js/multiplayerdemo/styles.css" type="text/css">
{% endblock stylesheets %}

{% block content %}
<div class="card">
    <div class="game-container">
    </div>
</div>

{% endblock content %}

<!-- Page Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
</html>