
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="{% url 'home' %}" class="simple-text logo-mini">
            JP
          </a>
          <a href="{% url 'home' %}" class="simple-text logo-normal">
            Joseph Prince
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="{% url 'home' %}" >
              <i class="tim-icons icon-badge"></i>
              <p>Home</p>
            </a>
          </li>  
          <li>
            <a href="{% url 'certslanding' %}" >
              <i class="tim-icons icon-single-copy-04"></i>
              <p>Certifications</p>
            </a>
          </li>  
          <li>
            <a href="{% url 'projects_landing' %}" >
              <i class="tim-icons icon-components"></i>
              <p>Projects</p>
            </a>
          </li> 
          <li>
            <a href="{% url 'bloglanding' %}" >
              <i class="tim-icons icon-laptop"></i>
              <p>Blog</p>
            </a>
          </li>          
        </ul>
      </div>
    </div>
