<!DOCTYPE html>
<html lang="en">
{% extends "base/base.html" %}

{% block title %} Home {% endblock title %}
<!-- Page Specific CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="container align-items-center justify-content-center">
    <div class="card " style="align-items:center;" id="fade">
        <div class="card-header" >
            <h1>
                Welcome to My Projects
            </h1>
        </div>
    </div>
        <!--Start Projects Container-->
        <div class="row justify-content-center" >
            {% for project in projects %}
            <!--Start Projects-->
            <div class="card col-lg-8" style="margin:10px;">
                <div class="card-header text-center">
                    <h3>
                        {{project.name}}
                    </h3>

                </div>
                <div class="card-body text-center justify-content-center align-items-center">
                    <div class="container">
                        {% if project.additional_img1.url != None %}
                        <a href="{{ project.additional_img1.url }}">
                            <img src="{{ project.additional_img1.url }}" style="width:300px">
                        </a>
                        {% endif %}
                    </div>
                    <br>
                    <div>
                        <h6>Skills Used:</h6>
                    </div>
                    <div class="row justify-content-center" style="padding:10px;">
                            
                        {% for skill in project.skills_learned.all %}
                        <a href="{{ skill.additional_link }}" target="_blank" class="btn btn-primary">
                            <h5>
                                {{ skill.name}}
                            </h5>
                        </a>    
                        {% endfor %}

                    </div>
                    <br>
                    <h4 >
                        {{ project.description | safe}}
                    </h4>
                    <br>
                    <a class="btn btn-primary" href="{{project.additional_link}}" target="_blank">
                        
                        Project Link
                    </a>
                </div>
            
            </div>
            <!--End Projects-->
            {% endfor %}
        </div>
        <!--End Projects Container-->
</div>
{% endblock content %}

<!-- Page Specific JS goes HERE -->
{% block javascripts %}
<script>
    $(function(){  // $(document).ready shorthand
    $('#fade').hide().fadeIn('slow');
    });
</script>
{% endblock javascripts %}
</html>